.sec2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    margin: 10px auto;
    padding-top: 10px;
    border-top: 1px solid black;
}

.left,.right{
    width: 49%;
}

.spcsec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.secdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.secdiv img{
    border-radius: 50%;
}